.wrapper {
  display: flex;
  height: 100%;
  /* border: 1px solid red; */
  font-size: 30px;
  gap: 10px;
  align-items: flex-start;
  width: fix-content;
}
.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid blue; */
  margin: 10 0 10 0px;
  padding: 20px;
  overflow-y: auto;
  max-height: 99vh;
}

.title {
  display: flex;
  gap: 5px;
  /* border: 1px solid green; */
  font-size: 18px;
  transition: color 0.3s ease;
}
.title:hover {
  background-color: rgba(70, 70, 70, 0.1);
  cursor: pointer;
}

.selectedTitle {
  display: flex;
  gap: 5px;
  background-color: rgba(70, 70, 70, 0.2);
  /* border: 1px solid green; */
  font-size: 18px;
  transition: color 0.3s ease;
}

.body {
  display: flex;
  gap: 5px;
  /* border: 1px solid green; */
  font-size: 18px;
}

.comment {
  display: flex;
  gap: 5px;
  flex-direction: column;
  /* border: 1px solid green; */
  font-size: 18px;
}
